# Lab 16 Assignment 3 - Group Assignment - Group O-1-7

## Instructions

When creating ML models, the concept of efficiency has three sides:
1. The time dedicated by the analyst to build the model
2. The computer time and resources needed by the final model
3. The accuracy of the final model

Efficiency is a combination of all

In this assignment, you are asked to be efficient. Spark is the best tool to build models over massive datasets

If you need to create Spark+Python Machine Learning models that "run fast" on the  cluster, you must avoid using Python code or working with RRD+python. Try to use  the already existing methods that do what you need (do not reinvent the wheel).

Therefore try to use the implemented object+methods inside the Spark SQL and ML modules. They are very fast, because it is compiled Java/Scala code. Try to use: DataFrames, Feature Transfomers, Estimators, Pipelines, GridSearch, CV, ...

For this assignment, you are asked to create a classification model that:
1. Uses the variables in the dataset (train.csv) to predict label "loan_status"
2. Write a python scripts that:
    - Reads the "train.csv" and "test.csv" files, transform and select variables as you wish.
    - Train/fit your model using the "train.csv".
    - Predict your model on the "test.csv" ( you should generate a file with your predictions).
    - I will use a different test dataset (with the true loan_status).

Your work will be evaluated under the following scoring schema
- (40%) ETL process
- (40%) Model train process
- (10%) Code Readability 
- (10%) AUC on the test set (at least 50%)

Enjoy it and best of luck!!

This Assignment is based on kaggle competition https://www.kaggle.com/c/loan-default-prediction from where a sub-dataset has been taken.

### File Description

**train.csv** - the training set (to use for building a model)

**test.csv** - the test set (to use for applying predictings)

**sample_submission.csv** - a template for the submission file

### Data Description (contained in LendingClub_DataDescription.csv)

**ID**: A unique LC assigned ID for the loan listing.

**loan_amnt**: The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.

**loan_status**: Current status of the loan (**Target**: 1 = Charged Off, 0 = Fully Paid).

**term**: The number of payments on the loan. Values are in months and can be either 36 or 60.

**int_rate**: Interest Rate on the loan.

**installment**: The monthly payment owed by the borrower if the loan originates.

**emp_length**: Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

**home_ownership**: The home ownership status provided by the borrower during registration. Our values are: OTHER/NONE, MORTGAGE, OWN, RENT.

**annual_inc**: The self-reported annual income provided by the borrower during registration.

**purpose**: A category provided by the borrower for the loan request.

**title**: The loan title provided by the borrower.

**STATE**: The state provided by the borrower in the loan application.

**delinq_2yrs**: The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years.

**revol_bal**: Total credit revolving balance.

**revol_util**: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

**total_pymnt**: Indicates total payment at the end of the loan.

## Data Loading

### Librairies

In [1]:
import os
import sys

os.environ['SPARK_HOME'] = "/Users/Ashley/Documents/spark-2.3.2-bin-hadoop2.7/"

# Create a variable for our root path
SPARK_HOME = os.environ['SPARK_HOME']

#Add the following paths to the system path. Please check your installation
#to make sure that these zip files actually exist. The names might change
#as versions change.
sys.path.insert(0,os.path.join(SPARK_HOME,"python"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","pyspark.zip"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","py4j-0.10.7-src.zip"))

#Initialize SparkSession and SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
from pyspark.sql.functions import col
from pyspark.sql.functions import isnan, when, count
from pyspark.sql.functions import *
from pyspark.ml.classification import RandomForestClassificationModel, RandomForestClassifier
from pyspark.ml.feature import VectorAssembler, StringIndexer
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator, CrossValidatorModel
from pyspark.ml.param import Params
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoderEstimator
from pyspark.ml.classification import LogisticRegression
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.feature import MinMaxScaler
import pandas as pd


#Create a Spark Session
MySparkSession = SparkSession \
    .builder \
    .master("local[2]") \
    .appName("MiPrimer") \
    .config("spark.executor.memory", "6g") \
    .config("spark.cores.max","4") \
    .getOrCreate()


#Get the Spark Context from Spark Session    
MySparkContext = MySparkSession.sparkContext

### Reading and Displaying Files

In [2]:
loanDF = MySparkSession.read.format('csv') \
                .option("inferSchema", "true") \
                .option("delimiter", ";") \
                .option('header','true') \
                .load('./data/train.csv') 

testDF = MySparkSession.read.format('csv') \
                .option("inferSchema", "true") \
                .option("delimiter", ";") \
                .option('header','true') \
                .load('./data/test.csv')

In [3]:
loanDF.limit(10).toPandas()

,ID,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,purpose,title,STATE,delinq_2yrs,revol_bal,revol_util,total_pymnt,loan_status
0,2,2500,60 months,15.27%,59.83,< 1 year,RENT,30000.0,car,bike,GA,0,1687,0.094,1014.530000,1
1,4,10000,36 months,13.49%,339.31,10+ years,RENT,49200.0,other,personel,CA,0,5598,0.21,12231.890000,0
2,5,3000,60 months,12.69%,67.79,1 year,RENT,80000.0,other,Personal,OR,0,27783,0.539,4066.908161,0
3,6,5000,36 months,7.90%,156.46,3 years,RENT,36000.0,wedding,My wedding loan I promise to pay back,AZ,0,7963,0.283,5632.210000,0
4,7,7000,60 months,15.96%,170.08,8 years,RENT,47004.0,debt_consolidation,Loan,NC,0,17726,0.856,10137.840010,0
5,8,3000,36 months,18.64%,109.43,9 years,RENT,48000.0,car,Car Downpayment,CA,0,8221,0.875,3939.135294,0
6,10,5375,60 months,12.69%,121.45,< 1 year,RENT,15000.0,other,Building my credit history.,TX,0,9279,0.365,1484.590000,1
7,11,6500,60 months,14.65%,153.45,5 years,OWN,72000.0,debt_consolidation,High intrest Consolidation,AZ,0,4032,0.206,7678.017673,0
8,12,12000,36 months,12.69%,402.54,10+ years,OWN,75000.0,debt_consolidation,Consolidation,CA,0,23336,0.671,13947.989160,0
9,14,3000,36 months,9.91%,96.68,3 years,RENT,15000.0,credit_card,citicard fund,IL,0,7323,0.431,3480.269999,0

In [4]:
testDF.limit(10).toPandas()

,ID,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,purpose,title,STATE,delinq_2yrs,revol_bal,revol_util,total_pymnt,loan_status
0,1,5000,36 months,10.65%,162.87,10+ years,RENT,24000.0,credit_card,Computer,AZ,0,13648,0.84,5863.155187,0
1,3,2400,36 months,15.96%,84.33,10+ years,RENT,12252.0,small_business,real estate business,IL,0,2956,0.99,3005.666844,1
2,9,5600,60 months,21.28%,152.39,4 years,OWN,40000.0,small_business,Expand Business & Buy Debt Portfolio,CA,0,5210,0.33,647.500000,1
3,13,9000,36 months,13.49%,305.38,< 1 year,RENT,30000.0,debt_consolidation,freedom,VA,0,10452,0.92,2277.320000,1
4,15,10000,36 months,10.65%,325.74,3 years,RENT,100000.0,other,Other Loan,CA,0,11997,0.56,7471.990000,1
5,18,3600,36 months,6.03%,109.57,10+ years,MORTGAGE,110000.0,major_purchase,Holiday,CT,0,22836,0.16,3785.271965,1
6,26,15000,36 months,9.91%,483.38,2 years,MORTGAGE,92000.0,credit_card,No more credit card debt!,IL,0,13707,0.94,15823.999050,1
7,27,15000,36 months,14.27%,514.64,9 years,RENT,60000.0,debt_consolidation,consolidation,NY,0,5872,0.58,0.000000,1
8,29,4000,36 months,11.71%,132.31,10+ years,MORTGAGE,106000.0,debt_consolidation,Debt Consolidation,FL,1,6110,0.38,4486.293519,1
9,31,4375,36 months,7.51%,136.11,7 years,MORTGAGE,17108.0,debt_consolidation,Debt Consolidation,NY,0,11210,0.87,4899.960000,1

## EDA | Null Values | Cross Table Distribution | Covariances

### Summary of Columns

In [5]:
print('loanDF:')
loanDF.printSchema()
print('testDF:')
testDF.printSchema()

loanDF:
root
 |-- ID: integer (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- installment: double (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- loan_status: integer (nullable = true)

testDF:
root
 |-- ID: integer (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- installment: double (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- revol_bal: integer (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_pymnt: double (nullable = true)
 |-- loan_status: integer (nullable = true)

### Renaming | Describing | Changing Data Type

Formatting numbers:

In [6]:
loanDF = loanDF.withColumn('int_rate', regexp_replace('int_rate', '%', ''))
loanDF = loanDF.withColumn('title', regexp_replace('title', '.', ''))
loanDF = loanDF.withColumn("int_rate", loanDF["int_rate"].cast("decimal(10,0)"))
loanDF = loanDF.withColumn("revol_util", loanDF["revol_util"].cast("decimal(10,0)"))

testDF = testDF.withColumn('int_rate', regexp_replace('int_rate', '%', ''))
testDF = testDF.withColumn('title', regexp_replace('title', '.', ''))
testDF = testDF.withColumn("int_rate", testDF["int_rate"].cast("decimal(10,0)"))
testDF = testDF.withColumn("revol_util", testDF["revol_util"].cast("decimal(10,0)"))

loanDF = loanDF.withColumn('emp_length', regexp_replace('emp_length', 'n/a', 'unknown'))
testDF = testDF.withColumn('emp_length', regexp_replace('emp_length', 'n/a', 'unknown'))

Renaming columns:

In [7]:
loanDF = loanDF.withColumnRenamed("ID","id")
loanDF = loanDF.withColumnRenamed("loan_amnt","loan_amount")
loanDF = loanDF.withColumnRenamed("term","term")
loanDF = loanDF.withColumnRenamed("home_ownership","home_ownership")
loanDF = loanDF.withColumnRenamed("int_rate","interest_rate")
loanDF = loanDF.withColumnRenamed("installment","monthly_payment")
loanDF = loanDF.withColumnRenamed("emp_length","employment_time")
loanDF = loanDF.withColumnRenamed("delinq_2yrs","deliquency_past_2years")
loanDF = loanDF.withColumnRenamed("revol_bal","revolving_balance")
loanDF = loanDF.withColumnRenamed("revol_util","revolving_utilization_rate")
loanDF = loanDF.withColumnRenamed("total_pymnt","total_payment")
loanDF = loanDF.withColumnRenamed("purpose","loan_purpose")
loanDF = loanDF.withColumnRenamed("annual_inc","annual_income")
loanDF = loanDF.withColumnRenamed("STATE","state")
loanDF = loanDF.withColumnRenamed("installment","installment")
loanDF = loanDF.withColumnRenamed("loan_status","loan_status")


testDF = testDF.withColumnRenamed("ID","id")
testDF = testDF.withColumnRenamed("loan_amnt","loan_amount")
testDF = testDF.withColumnRenamed("term","term")
testDF = testDF.withColumnRenamed("home_ownership","home_ownership")
testDF = testDF.withColumnRenamed("int_rate","interest_rate")
testDF = testDF.withColumnRenamed("installment","monthly_payment")
testDF = testDF.withColumnRenamed("emp_length","employment_time")
testDF = testDF.withColumnRenamed("delinq_2yrs","deliquency_past_2years")
testDF = testDF.withColumnRenamed("revol_bal","revolving_balance")
testDF = testDF.withColumnRenamed("revol_util","revolving_utilization_rate")
testDF = testDF.withColumnRenamed("total_pymnt","total_payment")
testDF = testDF.withColumnRenamed("purpose","loan_purpose")
testDF = testDF.withColumnRenamed("annual_inc","annual_income")
testDF = testDF.withColumnRenamed("STATE","state")
testDF = testDF.withColumnRenamed("installment","installment")
testDF = testDF.withColumnRenamed("loan_status","loan_status")

Summarizing `loanDF`:

In [8]:
numeric_df = ['loan_amount','interest_rate', 'monthly_payment','annual_income', 'deliquency_past_2years',
              'total_payment','revolving_balance','revolving_utilization_rate']

categorical_Df = ['term','employment_time', 'home_ownership', 'loan_purpose', 'title','state']

loanDF.describe('loan_amount','term','interest_rate','title','employment_time','home_ownership').show()
loanDF.describe('annual_income','loan_purpose','monthly_payment','state','deliquency_past_2years').show()
loanDF.describe('revolving_balance','revolving_utilization_rate','total_payment','loan_status').show()

+-------+------------------+----------+------------------+-----+---------------+--------------+
|summary|       loan_amount|      term|     interest_rate|title|employment_time|home_ownership|
+-------+------------------+----------+------------------+-----+---------------+--------------+
|  count|             29755|     29755|             29755|28517|          29755|         29755|
|   mean|11218.509494202655|      null|           12.0301| null|           null|          null|
| stddev| 7431.662873498601|      null|3.7181574007403158| null|           null|          null|
|    min|               500| 36 months|                 5|     |         1 year|      MORTGAGE|
|    max|             35000| 60 months|                25|    |        unknown|          RENT|
+-------+------------------+----------+------------------+-----+---------------+--------------+

+-------+----------------+------------+------------------+-----+----------------------+
|summary|   annual_income|loan_purpose|   monthly_payment|state|deliquency_past_2years|
+-------+----------------+------------+------------------+-----+----------------------+
|  count|           29755|       28526|             29755|28516|                 28516|
|   mean|69044.8235268022|        null|324.23834481599505| null|   0.14595314910927198|
| stddev|66683.2408043667|        null|207.83497941026226| null|    0.4856901246589267|
|    min|          4000.0|         car|             15.69|   AK|                     0|
|    max|       6000000.0|     wedding|           1305.19|   WY|                     8|
+-------+----------------+------------+------------------+-----+----------------------+

+-------+------------------+--------------------------+------------------+-------------------+
|summary| revolving_balance|revolving_utilization_rate|     total_payment|        loan_status|
+-------+------------------+--------------------------+------------------+-------------------+
|  count|             28516|                     27782|             28516|              29755|
|   mean|13350.529071398512|                    0.5054|12143.791490200982|0.14199294236262813|
| stddev| 15948.46067741967|        0.4999794563559059| 9085.146711349636| 0.3490487663481529|
|    min|                 0|                         0|               0.0|                  0|
|    max|            149588|                         1|       58886.47343|                  1|
+-------+------------------+--------------------------+------------------+-------------------+

In [9]:
display(testDF.describe())

DataFrame[summary: string, id: string, loan_amount: string, term: string, interest_rate: string, monthly_payment: string, employment_time: string, home_ownership: string, annual_income: string, loan_purpose: string, title: string, state: string, deliquency_past_2years: string, revolving_balance: string, revolving_utilization_rate: string, total_payment: string, loan_status: string]

In [10]:
print('Rows in loanDF:',loanDF.count())
print('Rows in testDF:',testDF.count())

Rows in loanDF: 29755
Rows in testDF: 10024

### Checking Null Values

In [11]:
remove_loanDF = loanDF.na.drop() 
remove_testDF = testDF.na.drop()  
print('Rows in loanDF with NAs:', loanDF.count() - remove_loanDF.count())
print('Rows in loanDF with no NAs:',remove_loanDF.count())
print()
print('Rows in testDF with NAs:', testDF.count() - remove_testDF.count())
print('Rows in testDF with no NAs:',remove_testDF.count())

Rows in loanDF with NAs: 1982
Rows in loanDF with no NAs: 27773

Rows in testDF with NAs: 908
Rows in testDF with no NAs: 9116

### Cross Table Distribution

In [12]:
# cross tables distribution
loanDF.stat.crosstab('employment_time', 'term').show()
loanDF.stat.crosstab('home_ownership', 'term').show()
loanDF.stat.crosstab('loan_purpose', 'term').show()
loanDF.stat.crosstab('state', 'term').show()
loanDF.stat.crosstab('home_ownership', 'employment_time').show()
loanDF.stat.crosstab('loan_purpose', 'employment_time').show()
loanDF.stat.crosstab('state', 'employment_time').show()
loanDF.stat.crosstab('loan_purpose', 'home_ownership').show()
loanDF.stat.crosstab('state', 'home_ownership').show()
loanDF.stat.crosstab('state', 'loan_purpose').show()

+--------------------+----------+----------+
|employment_time_term| 36 months| 60 months|
+--------------------+----------+----------+
|             5 years|      1773|       724|
|             unknown|       585|       207|
|             6 years|      1175|       495|
|             3 years|      2314|       748|
|             8 years|       777|       333|
|              1 year|      1943|       497|
|            < 1 year|      2752|       694|
|             9 years|       672|       268|
|             4 years|      1927|       664|
|           10+ years|      4321|      2284|
|             7 years|       943|       389|
|             2 years|      2524|       746|
+--------------------+----------+----------+

+-------------------+----------+----------+
|home_ownership_term| 36 months| 60 months|
+-------------------+----------+----------+
|              OTHER|        69|         0|
|                OWN|      1703|       569|
|           MORTGAGE|      8973|      4315|
|               RENT|     10958|      3165|
|               NONE|         3|         0|
+-------------------+----------+----------+

+------------------+----------+----------+
| loan_purpose_term| 36 months| 60 months|
+------------------+----------+----------+
|              null|       797|       432|
|    major_purchase|      1258|       328|
|debt_consolidation|      9429|      3976|
|       credit_card|      2944|       750|
|  home_improvement|      1483|       649|
|  renewable_energy|        49|        19|
|    small_business|       881|       406|
|            moving|       344|        68|
|               car|       719|       402|
|          vacation|       228|        43|
|       educational|       221|        15|
|             house|       195|        81|
|           medical|       387|       119|
|           wedding|       517|       145|
|             other|      2254|       616|
+------------------+----------+----------+

+----------+----------+----------+
|state_term| 36 months| 60 months|
+----------+----------+----------+
|        MA|       718|       230|
|        IN|         6|         0|
|      null|       805|       434|
|        ID|         3|         0|
|        NM|       103|        42|
|        OR|       223|        84|
|        IA|         5|         0|
|        IL|       803|       284|
|        TN|        14|         0|
|        MO|       338|       135|
|        ME|         1|         0|
|        AZ|       465|       186|
|        AK|        39|        12|
|        VT|        31|        10|
|        WA|       450|       145|
|        SD|        32|        11|
|        KY|       158|        81|
|        NJ|       960|       368|
|        TX|      1483|       494|
|        MI|       368|       167|
+----------+----------+----------+
only showing top 20 rows

+------------------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
|home_ownership_employment_time|1 year|10+ years|2 years|3 years|4 years|5 years|6 years|7 years|8 years|9 years|< 1 year|unknown|
+------------------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
|                         OTHER|     8|       15|      7|      6|      6|      3|      2|      3|      3|      0|      16|      0|
|                           OWN|   164|      570|    209|    184|    171|    184|    110|    102|     86|     67|     264|    161|
|                      MORTGAGE|   745|     4129|   1090|   1174|   1075|   1153|    828|    660|    601|    525|     976|    332|
|                          RENT|  1523|     1891|   1964|   1698|   1339|   1156|    730|    567|    420|    348|    2188|    299|
|                          NONE|     0|        0|      0|      0|      0|      1|      0|      0|      0|      0|       2|      0|
+------------------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+

+----------------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
|loan_purpose_employment_time|1 year|10+ years|2 years|3 years|4 years|5 years|6 years|7 years|8 years|9 years|< 1 year|unknown|
+----------------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
|                        null|   101|      252|    144|    122|    122|     94|     81|     60|     38|     40|     135|     40|
|              major_purchase|   143|      319|    184|    179|    134|    138|     91|     52|     50|     41|     204|     51|
|          debt_consolidation|  1039|     3054|   1463|   1376|   1159|   1156|    774|    628|    541|    428|    1505|    282|
|                 credit_card|   336|      778|    403|    368|    331|    309|    207|    164|    135|    130|     442|     91|
|            home_improvement|   104|      633|    205|    205|    185|    175|    122|     94|     99|     81|     155|     74|
|            renewable_energy|     6|       16|      5|      5|      4|      5|      6|      9|      1|      4|       3|      4|
|              small_business|   130|      243|    151|    154|    116|     97|     69|     62|     46|     30|     161|     28|
|                      moving|    46|       51|     48|     43|     36|     24|     24|      6|      8|     14|      97|     15|
|                         car|   101|      239|    119|    113|     88|     99|     68|     55|     44|     38|     127|     30|
|                    vacation|    10|       79|     23|     25|     29|     25|      9|     11|      6|     10|      23|     21|
|                 educational|    36|       28|     29|     15|     21|     18|      9|      7|      4|      9|      54|      6|
|                       house|    26|       58|     33|     33|     26|     24|     12|     15|      9|      7|      25|      8|
|                     medical|    39|      140|     63|     53|     37|     31|     22|     16|     23|      8|      56|     18|
|                     wedding|    62|       80|     84|    102|     58|     78|     38|     30|     17|     11|      93|      9|
|                       other|   261|      635|    316|    269|    245|    224|    138|    123|     89|     89|     366|    115|
+----------------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+

+---------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
|state_employment_time|1 year|10+ years|2 years|3 years|4 years|5 years|6 years|7 years|8 years|9 years|< 1 year|unknown|
+---------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
|                   MA|    81|      185|    115|     91|     83|     82|     57|     51|     28|     33|     124|     18|
|                   IN|     0|        0|      2|      0|      1|      0|      0|      0|      2|      0|       1|      0|
|                 null|   102|      256|    145|    123|    122|     94|     82|     60|     38|     40|     137|     40|
|                   ID|     0|        0|      0|      0|      1|      0|      0|      0|      0|      0|       2|      0|
|                   NM|     8|       46|     17|     13|     15|     12|      8|      3|      5|      1|      12|      5|
|                   OR|    24|       64|     32|     39|     28|     27|     19|     11|     12|      4|      38|      9|
|                   IA|     1|        0|      1|      0|      1|      0|      2|      0|      0|      0|       0|      0|
|                   IL|    85|      233|    115|     91|    114|    102|     65|     55|     43|     34|     125|     25|
|                   TN|     1|        1|      2|      2|      0|      3|      1|      1|      0|      0|       3|      0|
|                   MO|    34|      124|     39|     47|     40|     39|     24|     19|     16|     22|      53|     16|
|                   ME|     0|        0|      0|      0|      0|      0|      0|      0|      0|      0|       1|      0|
|                   AZ|    53|      117|     80|     68|     47|     60|     40|     29|     24|     18|      83|     32|
|                   AK|     0|       15|      4|     10|      5|      2|      2|      2|      3|      1|       6|      1|
|                   VT|     1|       13|      5|      4|      4|      3|      1|      2|      2|      2|       4|      0|
|                   WA|    52|      107|     69|     64|     53|     62|     32|     19|     23|     24|      68|     22|
|                   SD|     3|       11|      4|      5|      1|      4|      4|      2|      1|      2|       6|      0|
|                   KY|    18|       83|     18|     23|     13|     17|     13|      8|      8|      9|      26|      3|
|                   NJ|    95|      289|    158|    140|    141|     99|     81|     64|     54|     48|     141|     18|
|                   TX|   179|      431|    227|    213|    169|    174|     97|     82|     70|     56|     238|     41|
|                   MI|    34|      139|     51|     39|     34|     48|     27|     23|     31|     17|      65|     27|
+---------------------+------+---------+-------+-------+-------+-------+-------+-------+-------+-------+--------+-------+
only showing top 20 rows

+---------------------------+--------+----+-----+---+----+
|loan_purpose_home_ownership|MORTGAGE|NONE|OTHER|OWN|RENT|
+---------------------------+--------+----+-----+---+----+
|                       null|     544|   0|    3| 78| 604|
|             major_purchase|     669|   0|    6|162| 749|
|         debt_consolidation|    5595|   1|   29|960|6820|
|                credit_card|    1632|   0|    9|214|1839|
|           home_improvement|    1699|   0|    3|240| 190|
|           renewable_energy|      44|   0|    0|  2|  22|
|             small_business|     665|   0|    5| 74| 543|
|                     moving|      79|   0|    0| 17| 316|
|                        car|     558|   0|    1|115| 447|
|                   vacation|     107|   0|    0| 20| 144|
|                educational|      62|   0|    2| 17| 155|
|                      house|     106|   0|    1| 22| 147|
|                    medical|     222|   0|    2| 47| 235|
|                    wedding|     210|   0|    0| 39| 413|
|                      other|    1096|   2|    8|265|1499|
+---------------------------+--------+----+-----+---+----+

+--------------------+--------+----+-----+---+----+
|state_home_ownership|MORTGAGE|NONE|OTHER|OWN|RENT|
+--------------------+--------+----+-----+---+----+
|                  MA|     342|   1|    4| 71| 530|
|                  IN|       3|   0|    0|  0|   3|
|                null|     548|   0|    3| 78| 610|
|                  ID|       2|   0|    0|  1|   0|
|                  NM|      83|   0|    0| 14|  48|
|                  OR|     119|   0|    1| 10| 177|
|                  IA|       2|   0|    0|  1|   2|
|                  IL|     541|   0|    2| 73| 471|
|                  TN|       6|   0|    0|  1|   7|
|                  MO|     289|   0|    1| 33| 150|
|                  ME|       0|   0|    0|  0|   1|
|                  AZ|     368|   0|    2| 39| 242|
|                  AK|      27|   0|    0|  4|  20|
|                  VT|      16|   0|    2|  1|  22|
|                  WA|     253|   0|    0| 23| 319|
|                  SD|      26|   0|    0|  4|  13|
|                  KY|     155|   0|    0| 27|  57|
|                  NJ|     457|   0|    1|123| 747|
|                  TX|    1085|   0|    5|182| 705|
|                  MI|     331|   0|    2| 48| 154|
+--------------------+--------+----+-----+---+----+
only showing top 20 rows

+------------------+---+-----------+------------------+-----------+----------------+-----+--------------+-------+------+----+-----+----------------+--------------+--------+-------+
|state_loan_purpose|car|credit_card|debt_consolidation|educational|home_improvement|house|major_purchase|medical|moving|null|other|renewable_energy|small_business|vacation|wedding|
+------------------+---+-----------+------------------+-----------+----------------+-----+--------------+-------+------+----+-----+----------------+--------------+--------+-------+
|                MA| 32|        105|               470|          9|              76|   10|            52|     11|    14|   0|   95|               1|            34|      10|     29|
|                IN|  0|          0|                 5|          0|               0|    0|             0|      0|     0|   0|    1|               0|             0|       0|      0|
|              null|  0|          5|                 3|          0|               0|    0|             0|      0|     0|1229|    1|               0|             0|       0|      1|
|                ID|  0|          0|                 1|          0|               0|    0|             0|      0|     0|   0|    2|               0|             0|       0|      0|
|                NM| 11|         14|                82|          1|              14|    2|             8|      2|     1|   0|    8|               0|             1|       0|      1|
|                OR| 12|         40|               169|          3|              14|    5|             4|      5|     5|   0|   28|               1|            16|       2|      3|
|                IA|  0|          0|                 3|          0|               0|    0|             0|      1|     0|   0|    1|               0|             0|       0|      0|
|                IL| 40|        167|               511|         11|              72|    9|            63|     18|     8|   0|   96|               2|            54|       4|     32|
|                TN|  1|          3|                 2|          1|               0|    0|             2|      0|     0|   0|    3|               0|             2|       0|      0|
|                MO| 21|         63|               227|          4|              42|    4|            28|      7|     5|   0|   40|               2|            19|       4|      7|
|                ME|  0|          1|                 0|          0|               0|    0|             0|      0|     0|   0|    0|               0|             0|       0|      0|
|                AZ| 27|         92|               273|          5|              52|    8|            39|     15|    12|   0|   72|               3|            36|       3|     14|
|                AK|  0|          5|                22|          0|               8|    0|             2|      0|     0|   0|    7|               0|             6|       1|      0|
|                VT|  0|          5|                19|          0|               3|    0|             4|      0|     1|   0|    5|               0|             4|       0|      0|
|                WA| 21|         85|               285|          5|              40|    5|            34|      9|     5|   0|   57|               0|            31|       8|     10|
|                SD|  1|         12|                18|          0|               1|    0|             1|      0|     0|   0|    5|               0|             4|       0|      1|
|                KY| 13|         21|               117|          1|              21|    2|            22|      2|     3|   0|   20|               1|            12|       3|      1|
|                NJ| 42|        157|               652|         12|              94|    8|            79|     19|    32|   0|  131|               1|            45|      15|     41|
|                TX| 67|        263|               869|          9|             167|   15|           127|     36|    26|   0|  219|               7|           113|      13|     46|
|                MI| 27|         55|               213|          9|              51|   12|            38|     11|     8|   0|   63|               5|            29|       2|     12|
+------------------+---+-----------+------------------+-----------+----------------+-----+--------------+-------+------+----+-----+----------------+--------------+--------+-------+
only showing top 20 rows

### Covariance

In [13]:
for i in numeric_df:
    for j in numeric_df:
        print('Covariance of ' + i + ' and '+ j )
        print(loanDF.stat.cov(i, j))
        print("")

Covariance of loan_amount and loan_amount
55229613.06533747

Covariance of loan_amount and interest_rate
8549.319317863159

Covariance of loan_amount and monthly_payment
1436013.2198559118

Covariance of loan_amount and annual_income
128790952.5486099

Covariance of loan_amount and deliquency_past_2years
-111.91643190399427

Covariance of loan_amount and total_payment
56278750.18753406

Covariance of loan_amount and revolving_balance
35052983.98744884

Covariance of loan_amount and revolving_utilization_rate
205.5056356256766

Covariance of interest_rate and loan_amount
8549.31931786316

Covariance of interest_rate and interest_rate
13.824694456679978

Covariance of interest_rate and monthly_payment
220.26613109833838

Covariance of interest_rate and annual_income
12508.30669074606

Covariance of interest_rate and deliquency_past_2years
0.27668654772190204

Covariance of interest_rate and total_payment
9885.688703886828

Covariance of interest_rate and revolving_balance
5542.169383168114

Covariance of interest_rate and revolving_utilization_rate
0.7111543706734388

Covariance of monthly_payment and loan_amount
1436013.2198559118

Covariance of monthly_payment and interest_rate
220.26613109833843

Covariance of monthly_payment and monthly_payment
43195.378666464145

Covariance of monthly_payment and annual_income
3575839.640703561

Covariance of monthly_payment and deliquency_past_2years
-1.8363588466821552

Covariance of monthly_payment and total_payment
1522445.9444400186

Covariance of monthly_payment and revolving_balance
968689.8265118104

Covariance of monthly_payment and revolving_utilization_rate
8.651465419566007

Covariance of annual_income and loan_amount
128790952.54860988

Covariance of annual_income and interest_rate
12508.306690746062

Covariance of annual_income and monthly_payment
3575839.640703561

Covariance of annual_income and annual_income
4446654604.173155

Covariance of annual_income and deliquency_past_2years
731.7058910213528

Covariance of annual_income and total_payment
141110392.6789508

Covariance of annual_income and revolving_balance
266540251.10995787

Covariance of annual_income and revolving_utilization_rate
486.9741653775165

Covariance of deliquency_past_2years and loan_amount
-111.91643190399427

Covariance of deliquency_past_2years and interest_rate
0.2766865477219021

Covariance of deliquency_past_2years and monthly_payment
-1.8363588466821554

Covariance of deliquency_past_2years and annual_income
731.7058910213534

Covariance of deliquency_past_2years and deliquency_past_2years
0.22692201182729227

Covariance of deliquency_past_2years and total_payment
-13.44029343493197

Covariance of deliquency_past_2years and revolving_balance
-334.5073642110974

Covariance of deliquency_past_2years and revolving_utilization_rate
-0.004945012215610791

Covariance of total_payment and loan_amount
56278750.18753406

Covariance of total_payment and interest_rate
9885.688703886832

Covariance of total_payment and monthly_payment
1522445.9444400186

Covariance of total_payment and annual_income
141110392.6789508

Covariance of total_payment and deliquency_past_2years
-13.440293434931977

Covariance of total_payment and total_payment
84988035.99104434

Covariance of total_payment and revolving_balance
46924919.06026081

Covariance of total_payment and revolving_utilization_rate
583.3031384397749

Covariance of revolving_balance and loan_amount
35052983.98744884

Covariance of revolving_balance and interest_rate
5542.169383168116

Covariance of revolving_balance and monthly_payment
968689.8265118101

Covariance of revolving_balance and annual_income
266540251.10995787

Covariance of revolving_balance and deliquency_past_2years
-334.5073642110973

Covariance of revolving_balance and total_payment
46924919.060260795

Covariance of revolving_balance and revolving_balance
250874730.56832606

Covariance of revolving_balance and revolving_utilization_rate
2169.436782310638

Covariance of revolving_utilization_rate and loan_amount
205.50563562567672

Covariance of revolving_utilization_rate and interest_rate
0.7111543706734388

Covariance of revolving_utilization_rate and monthly_payment
8.651465419566003

Covariance of revolving_utilization_rate and annual_income
486.97416537751644

Covariance of revolving_utilization_rate and deliquency_past_2years
-0.004945012215610791

Covariance of revolving_utilization_rate and total_payment
583.3031384397748

Covariance of revolving_utilization_rate and revolving_balance
2169.436782310638

Covariance of revolving_utilization_rate and revolving_utilization_rate
0.24921992783551733

For a better readability, we plotted the correlation matrix and a pairplot using pandas dataframes.

In [14]:
import matplotlib.pyplot as plt #Plotting - version 3.0.2
import seaborn as sns #Plotting - version 0.9.0
sns.set(style='white')

loanDF_corr = loanDF.toPandas().copy()
loanDF_corr.interest_rate = loanDF_corr.interest_rate.astype(float)
loanDF_corr.revolving_utilization_rate = loanDF_corr.interest_rate.astype(float)

In [59]:
plt.figure(figsize=(12, 10))
sns.heatmap(loanDF_corr.corr(), 
            cmap=sns.diverging_palette(220, 20, n=7), vmax=1.0, vmin=-1.0, linewidths=0.1,
            annot=True, annot_kws={"size": 8}, square=True)
plt.tight_layout()

NameError: name 'plt' is not defined

In [16]:
loanDF_pair = loanDF.toPandas().copy()
loanDF_pair.interest_rate = loanDF_pair.interest_rate.astype(float)
loanDF_pair.revolving_utilization_rate = loanDF_pair.interest_rate.astype(float)

plt.figure(figsize=(15,15))
sns.pairplot(data = loanDF_pair, diag_kind = 'kde', plot_kws = {'alpha':0.3, 's':5})
plt.tight_layout()

## ETL summary |  Spark code for Imputing

Below we present the steps we decided to follow during our EDA in order to prepare our dataset for our machine learning implementation. It is worth mentioning that some of the steps had to be included in the previous part of the assignment in order to have a complete overview of the *cross table distributions* and the *covariances*.

1. **interest_rate** : remove special % character and change datatype from *string* to *decimal*.
2. **revol_util** : change datatype from *string* to *decimal*.
3. **Rename** columns to be better represented.
4. **Trim** the variable title as there are multiple unnecessary dots.
5. **Checkin for Na**: 
    1. Number of rows with NA for *loanDF*:    29755
    2. Number of rows without NA for *loanDF*: 27773
    3. Number of rows with NA for *testDF*:    10024
    4. Number of rows without NA for *testDF*: 9116
6. **Filling Na values**:
    1. **title** :                      unknown
    2. **loan_purpose** :               unknown
    3. **state** :                      unknown
    4. **deliquency_past_2years** :     -1
    5. **revolving_balance** :          13350.529071398512 (avg)
    6. **revolving_utilization_rate** : 0.5054 (avg)
    7. **total_payment** :              12143.791490200982 (avg)
7. **Drop** variables *title* and *state* cause they have too many unique values that cannot be grouped in order to apply one hot coding.

###  Imputing Null Values

In [17]:
mean_revolving_balance = loanDF.agg(avg(col("revolving_balance"))).collect()[0][0]
mean_revolving_utilization_rate = float(loanDF.agg(avg(col("revolving_utilization_rate"))).collect()[0][0])
mean_total_payment = loanDF.agg(avg(col("total_payment"))).collect()[0][0]

In [18]:
loanDF = loanDF.na.fill({'title': 'unknown', 'loan_purpose': 'unknown', 'state': 'unknown',
                         'deliquency_past_2years':-1,'revolving_balance':mean_revolving_balance,
                         'revolving_utilization_rate': mean_revolving_utilization_rate,
                         'total_payment': mean_total_payment})

testDF = testDF.na.fill({'title': 'unknown', 'loan_purpose': 'unknown', 'state': 'unknown',
                         'employment_time':'unknown',
                         'deliquency_past_2years':-1,'revolving_balance':mean_revolving_balance,
                         'revolving_utilization_rate': mean_revolving_utilization_rate,
                         'total_payment': mean_total_payment})

print('Rows in loanDF:',loanDF.count())
print('Rows in testDF:',testDF.count())

Rows in loanDF: 29755
Rows in testDF: 10024

###  Scaling

In [19]:
for i in numeric_df:
    mean_0, sttdev_0 = loanDF.select(mean(i), stddev(i)).first()
    loanDF = loanDF.withColumn(i + '_scaled', (col(i) - mean_0) / sttdev_0)    
    
for i in numeric_df:
    mean_0, sttdev_0 = testDF.select(mean(i), stddev(i)).first()
    testDF = testDF.withColumn(i + '_scaled', (col(i) - mean_0) / sttdev_0)

###  Double checking final clean dataset

In [20]:
loanDF.printSchema()
testDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- loan_amount: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- interest_rate: decimal(10,0) (nullable = true)
 |-- monthly_payment: double (nullable = true)
 |-- employment_time: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: double (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- title: string (nullable = false)
 |-- state: string (nullable = false)
 |-- deliquency_past_2years: integer (nullable = false)
 |-- revolving_balance: integer (nullable = true)
 |-- revolving_utilization_rate: decimal(10,0) (nullable = true)
 |-- total_payment: double (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- loan_amount: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- interest_rate: decimal(10,0) (nullable = true)
 |-- monthly_payment: double (nullable = true)
 |-- employment_time: string (nullable = false)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: double (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- title: string (nullable = false)
 |-- state: string (nullable = false)
 |-- deliquency_past_2years: integer (nullable = false)
 |-- revolving_balance: integer (nullable = true)
 |-- revolving_utilization_rate: decimal(10,0) (nullable = true)
 |-- total_payment: double (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)

In [21]:
numeric_df

['loan_amount',
 'interest_rate',
 'monthly_payment',
 'annual_income',
 'deliquency_past_2years',
 'total_payment',
 'revolving_balance',
 'revolving_utilization_rate']

In [22]:
loanDF = loanDF.drop('loan_amount','interest_rate','monthly_payment','annual_income','deliquency_past_2years',
                     'total_payment','revolving_balance','revolving_utilization_rate')

testDF = testDF.drop('loan_amount','interest_rate','monthly_payment','annual_income','deliquency_past_2years',
                     'total_payment','revolving_balance','revolving_utilization_rate')

In [23]:
loanDF.printSchema()
testDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- employment_time: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- title: string (nullable = false)
 |-- state: string (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- employment_time: string (nullable = false)
 |-- home_ownership: string (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- title: string (nullable = false)
 |-- state: string (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)

Checking all our columns to verify that we have:
   * Distinct user id so we do not need to group by.
   * Clean data format.
   * Clean cell values, (for example no Na and nan, which mean the same thing)

In [24]:
loanDF.describe('loan_amount_scaled','term','interest_rate_scaled','title','employment_time','home_ownership').show()
loanDF.describe('annual_income_scaled','loan_purpose','monthly_payment_scaled','state','deliquency_past_2years_scaled').show()
loanDF.describe('revolving_balance_scaled','revolving_utilization_rate_scaled').show()
loanDF.describe('total_payment_scaled','loan_status').show()

+-------+--------------------+----------+--------------------+-----+---------------+--------------+
|summary|  loan_amount_scaled|      term|interest_rate_scaled|title|employment_time|home_ownership|
+-------+--------------------+----------+--------------------+-----+---------------+--------------+
|  count|               29755|     29755|               29755|29755|          29755|         29755|
|   mean|-1.24909884709717...|      null|1.242387344581519...| null|           null|          null|
| stddev|  1.0000000000000067|      null|   1.000000000000002| null|           null|          null|
|    min| -1.4422760661580856| 36 months|  -1.890748357936716|     |         1 year|      MORTGAGE|
|    max|   3.200022782330779| 60 months|   3.488260071350822|    |        unknown|          RENT|
+-------+--------------------+----------+--------------------+-----+---------------+--------------+

+-------+--------------------+------------+----------------------+-------+-----------------------------+
|summary|annual_income_scaled|loan_purpose|monthly_payment_scaled|  state|deliquency_past_2years_scaled|
+-------+--------------------+------------+----------------------+-------+-----------------------------+
|  count|               29755|       29755|                 29755|  29755|                        29755|
|   mean|2.557673261368013...|        null|  1.074370525888748...|   null|         1.940681413811288...|
| stddev|  1.0000000000000009|        null|     1.000000000000003|   null|           0.9999999999999984|
|    min| -0.9754298492724546|         car|   -1.4845833251530125|     AK|          -2.0811312309368124|
|    max|   88.94221553918258|     wedding|      4.71985831243366|unknown|           14.973662146525813|
+-------+--------------------+------------+----------------------+-------+-----------------------------+

+-------+------------------------+---------------------------------+
|summary|revolving_balance_scaled|revolving_utilization_rate_scaled|
+-------+------------------------+---------------------------------+
|  count|                   29755|                            29755|
|   mean|    -2.11377061226818...|             5.790672826214302E-5|
| stddev|      1.0000000000000027|               1.0000000000000022|
|    min|     -0.8550962061448023|               -1.079541922469161|
|    max|       8.725972954266885|               0.9262959119216992|
+-------+------------------------+---------------------------------+

+-------+--------------------+-------------------+
|summary|total_payment_scaled|        loan_status|
+-------+--------------------+-------------------+
|  count|               29755|              29755|
|   mean|1.344432882951256...|0.14199294236262813|
| stddev|  0.9999999999999931| 0.3490487663481529|
|    min|  -1.365395125974413|                  0|
|    max|   5.255543966402399|                  1|
+-------+--------------------+-------------------+

In [25]:
# we have unique id = number of rows of dataset, so we do not need to group by.
for i in loanDF.columns:
    print(loanDF.select(i).distinct().count())
    print(loanDF.select(i).distinct().show())

29755
+----+
|  id|
+----+
| 496|
| 833|
|1088|
|1238|
|1342|
|1580|
|1645|
|1829|
|1959|
|2122|
|2366|
|2866|
|3749|
|3918|
|4101|
|4519|
|4818|
|4900|
|4935|
|5156|
+----+
only showing top 20 rows

None
2
+----------+
|      term|
+----------+
| 36 months|
| 60 months|
+----------+

None
12
+---------------+
|employment_time|
+---------------+
|        9 years|
|        5 years|
|        unknown|
|         1 year|
|        2 years|
|        7 years|
|        8 years|
|        4 years|
|        6 years|
|        3 years|
|      10+ years|
|       < 1 year|
+---------------+

None
5
+--------------+
|home_ownership|
+--------------+
|           OWN|
|          RENT|
|      MORTGAGE|
|         OTHER|
|          NONE|
+--------------+

None
15
+------------------+
|      loan_purpose|
+------------------+
|           unknown|
|           wedding|
|       educational|
|             other|
|    small_business|
|debt_consolidation|
|       credit_card|
|            moving|
|          vacation|
|  renewable_energy|
|             house|
|               car|
|    major_purchase|
|           medical|
|  home_improvement|
+------------------+

None
3
+-------+
|  title|
+-------+
|      |
|unknown|
|       |
+-------+

None
51
+-------+
|  state|
+-------+
|     AZ|
|     SC|
|     LA|
|     MN|
|     NJ|
|     DC|
|     OR|
|unknown|
|     VA|
|     RI|
|     WY|
|     KY|
|     NH|
|     MI|
|     NV|
|     WI|
|     ID|
|     CA|
|     CT|
|     NE|
+-------+
only showing top 20 rows

None
2
+-----------+
|loan_status|
+-----------+
|          1|
|          0|
+-----------+

None
824
+--------------------+
|  loan_amount_scaled|
+--------------------+
|-0.30188526207277744|
|  0.3137239330529198|
| 0.32045190239855587|
| -0.6584676373914873|
| -0.8132109323411162|
|-0.16396189048723872|
| -0.9444063345810189|
|  0.5862066915511792|
| -0.9208584418712927|
| -0.6147358366448531|
| -0.7627511622488459|
|  0.6501224003347216|
| -0.6820155301012134|
|-0.12023008974060448|
|0.004237343153662176|
| -1.0285059514014694|
| 0.45501128931127655|
| -0.5474561431884928|
|  1.9149806373142964|
|  0.8990572661232549|
+--------------------+
only showing top 20 rows

None
21
+--------------------+
|interest_rate_scaled|
+--------------------+
| -1.6217979364723392|
|  2.4124583854933146|
|   3.488260071350822|
| -0.5459962506148315|
|  1.0677062781714297|
|   2.950359228422068|
| -0.2770458291504546|
|  0.2608550137782991|
| -1.3528475150079622|
|   3.219309649886445|
|   2.143507964028937|
| -1.0838970935435852|
|-0.00809540768607...|
|  2.6814088069576916|
|  1.3366566996358067|
|  -1.890748357936716|
|   0.798755856707053|
|  1.6056071211001837|
|   0.529805435242676|
| -0.8149466720792085|
+--------------------+
only showing top 20 rows

None
12919
+----------------------+
|monthly_payment_scaled|
+----------------------+
|    1.9204739082736741|
|    1.1042975337224314|
|    0.6925285415978348|
|    2.8960074809923233|
|    0.8170504102141537|
|   -1.2615698548915606|
|   -0.7050706538033291|
|  -0.43731014420139164|
|    0.6533147383048286|
|     0.735687782768174|
|    0.8031451474513577|
|     1.301376967204828|
|   -0.7950939985410155|
|   -0.9711471350429901|
|     4.485104758732339|
|   -0.9324144827106345|
|   -0.8614928311107681|
|    0.5159461390391449|
|    1.2189558076454177|
|   -0.8699610880182148|
+----------------------+
only showing top 20 rows

None
4308
+--------------------+
|annual_income_scaled|
+--------------------+
| -0.2556088054689452|
|0.026321103354095945|
|  0.7266469938879269|
| -0.7546847291727117|
| 0.08885555653452581|
|-0.45649886177710797|
| -0.1570725027826828|
|-0.35570891937287075|
|  1.1113013641704272|
| -0.7318154147602044|
| -0.5178055701897004|
| -0.5256916596127202|
|-0.06065727277216144|
|-0.31919299767158854|
| -0.4775536273083606|
|-0.10558610292289715|
| 0.16434678850341886|
| 0.09830320773444688|
|-0.08348159836943105|
| -0.4596030900285106|
+--------------------+
only showing top 20 rows

None
10
+-----------------------------+
|deliquency_past_2years_scaled|
+-----------------------------+
|            1.708822852943771|
|            9.288731020704939|
|            3.603799894884063|
|            11.18370806264523|
|         -0.18615418899652067|
|          -2.0811312309368124|
|           13.078685104585523|
|           14.973662146525813|
|            5.498776936824354|
|           7.3937539787646465|
+-----------------------------+

None
27316
+--------------------+
|total_payment_scaled|
+--------------------+
| -0.4791406207919557|
| -0.8441929104003658|
| 0.14548257144067944|
|  1.4049496535928594|
|  0.3750568078049098|
|-0.11925716230754617|
|   1.896740951057798|
|  0.9775230238044619|
|  0.7734939440525965|
|-0.20662429140785032|
| -0.9568489372701663|
| 0.18564699393601658|
|  1.6729109375204574|
| -0.7495423291128102|
|-0.41679895036504383|
| -1.0464533485471723|
| 0.15451745864283475|
|  1.4285735041451493|
|  2.0680900944372027|
| 0.28817148571608514|
+--------------------+
only showing top 20 rows

None
17737
+------------------------+
|revolving_balance_scaled|
+------------------------+
|     -0.6326515368256739|
|     -0.3545476628885429|
|      0.4506853871201191|
|    0.029494444003911543|
|      1.1951352551006058|
|     -0.1845597123060589|
|    -0.14939641732874778|
|     0.10981278990837083|
|     0.27493296195119066|
|      -0.405275039249254|
|      0.9194012207156798|
|    -0.32604553854445645|
|       1.476185416048586|
|     -0.8015506422084961|
|    -0.09149547259379467|
|      -0.261611522611533|
|     0.25968912915592646|
|     0.20499067030233134|
|      0.8964714218051563|
|     -0.8259535846244442|
+------------------------+
only showing top 20 rows

None
2
+---------------------------------+
|revolving_utilization_rate_scaled|
+---------------------------------+
|               0.9262959119216992|
|               -1.079541922469161|
+---------------------------------+

None

At this stage we check the final structure of the table and we also decide to drop the **title** and **state** feature as they have so many different values, which makes it difficult to use in our model.

In [26]:
loanDF = loanDF.drop("title", 'state')
testDF = testDF.drop("title", 'state')
loanDF.printSchema()
testDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- employment_time: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- employment_time: string (nullable = false)
 |-- home_ownership: string (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)

## Create Pipeline | Split train/test

At this stage we make the following adjustments:

1. We keep the **total_amount** column and we discard the **monthly payment**, because of high correlation between the 2. The reason for keeipng the total amount is based more on a business perspective.
2. We keep the **interest_rate** column and we discard the **revolving_utilization_rate**, as they are totally correlated.

In [27]:
categoricalColumns = ['term', 'employment_time', 'home_ownership', 'loan_purpose']
stages = []

for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoderEstimator(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]
    
label_stringIdx = StringIndexer(inputCol = 'loan_status', outputCol = 'label')

stages += [label_stringIdx]

numericCols = ['loan_amount_scaled', 'interest_rate_scaled', 'annual_income_scaled', 'deliquency_past_2years_scaled', 
               'revolving_balance_scaled']
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")

stages += [assembler]

Now it is time for use to define the pipeline we are going to use for all the models that are about to be tested including:
1. **Logistic Regression**
2. **Random Forest**
3. **Gradient Tree Boosting**

In [28]:
pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(loanDF)
loanDF = pipelineModel.transform(loanDF)
selectedCols = ['features'] + loanDF.columns
loanDF = loanDF.select(selectedCols)
loanDF.printSchema()

root
 |-- features: vector (nullable = true)
 |-- id: integer (nullable = true)
 |-- term: string (nullable = true)
 |-- employment_time: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- loan_purpose: string (nullable = false)
 |-- loan_status: integer (nullable = true)
 |-- loan_amount_scaled: double (nullable = true)
 |-- interest_rate_scaled: double (nullable = true)
 |-- monthly_payment_scaled: double (nullable = true)
 |-- annual_income_scaled: double (nullable = true)
 |-- deliquency_past_2years_scaled: double (nullable = true)
 |-- total_payment_scaled: double (nullable = true)
 |-- revolving_balance_scaled: double (nullable = true)
 |-- revolving_utilization_rate_scaled: double (nullable = true)
 |-- termIndex: double (nullable = false)
 |-- termclassVec: vector (nullable = true)
 |-- employment_timeIndex: double (nullable = false)
 |-- employment_timeclassVec: vector (nullable = true)
 |-- home_ownershipIndex: double (nullable = false)
 |-- home_ownershipclassVec: vector (nullable = true)
 |-- loan_purposeIndex: double (nullable = false)
 |-- loan_purposeclassVec: vector (nullable = true)
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)

In [29]:
pd.DataFrame(loanDF.take(5), columns=loanDF.columns).transpose()

,0,1,2,3,4
features,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
id,2,4,5,6,7
term,60 months,36 months,60 months,36 months,60 months
employment_time,< 1 year,10+ years,1 year,3 years,8 years
home_ownership,RENT,RENT,RENT,RENT,RENT
loan_purpose,car,other,other,wedding,debt_consolidation
loan_status,1,0,0,0,0
loan_amount_scaled,-1.17316,-0.163962,-1.10588,-0.836759,-0.56764
interest_rate_scaled,0.798756,0.260855,0.260855,-1.0839,1.06771
monthly_payment_scaled,-1.2722,0.0725174,-1.2339,-0.807267,-0.741734
annual_income_scaled,-0.585527,-0.297598,0.164287,-0.495549,-0.33053
deliquency_past_2years_scaled,-0.186154,-0.186154,-0.186154,-0.186154,-0.186154
total_payment_scaled,-1.25133,0.00990541,-0.90813,-0.732134,-0.22554
revolving_balance_scaled,-0.747044,-0.496546,0.924397,-0.345068,0.280249
revolving_utilization_rate_scaled,-1.07954,-1.07954,0.926296,-1.07954,0.926296
termIndex,1,0,1,0,1
termclassVec,(0.0),(1.0),(0.0),(1.0),(0.0)
employment_timeIndex,1,0,6,3,9
employment_timeclassVec,"(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
home_ownershipIndex,0,0,0,0,0
home_ownershipclassVec,"(1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0)"
loan_purposeIndex,7,2,2,8,0
loan_purposeclassVec,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
label,1,0,0,0,0
features,"(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [30]:
(trainingData, validationData) = loanDF.randomSplit([0.7, 0.3], seed=100)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(validationData.count()))

Training Dataset Count: 20882
Test Dataset Count: 8873

## Logistic Regresion Model

### Write a function "metrics" which has a LogisticRegressionModel.summary as input attribute and produces an output of: 
1. Area under ROC
2. False Positive Rate By Label
3. True Positive Rate By Label
4. Precision By Label
5. Recall By Label
6. fMeasure By Label
7. Accuracy
8. False Positive Rate
9. True Positive Rate
10. fMeasure
11. Precision
12. Recall

In [31]:
def metrics(trainingSummary):  
    my_formatted_list_FP = [ '%.2f' % elem for elem in trainingSummary.truePositiveRateByLabel]
    my_formatted_list_TP = [ '%.2f' % elem for elem in trainingSummary.precisionByLabel]
    my_formatted_list_P = [ '%.2f' % elem for elem in trainingSummary.falsePositiveRateByLabel]
    my_formatted_list_R = [ '%.2f' % elem for elem in trainingSummary.recallByLabel]
    
    print("AUC: " + str("%.2f" % trainingSummary.areaUnderROC))
    print('')
    print("False Positive Rate by Label: " + str(my_formatted_list_FP))
    print('')
    print("True Positive Rate by Label: " + str(my_formatted_list_P))
    print('')
    print("Precision by Label: " + str(my_formatted_list_TP))
    print('')
    print("Recall by Label: " + str(my_formatted_list_R))
    print('')
    print("fMeasure by Label: " + str(trainingSummary.fMeasureByLabel))
    print('')
    print("Accuracy: " + str("%.2f" %trainingSummary.accuracy))
    print('')
    print("False Positive Rate: " + str("%.2f" %trainingSummary.weightedFalsePositiveRate))
    print('')
    print("True Positive Rate: " + str("%.2f" %trainingSummary.weightedTruePositiveRate)) 
    print('')
    print("fMeasure: " + str(trainingSummary.weightedFMeasure))
    print('')
    print("Precision: " + str("%.2f" %trainingSummary.weightedPrecision))
    print('')
    print("Recall: " + str("%.2f" %trainingSummary.weightedRecall))

### Apply a Logistic Regresion Base Model and show the metrics by the function above

In [32]:
evaluator = BinaryClassificationEvaluator() \
                .setLabelCol("label") \
                .setRawPredictionCol("rawPrediction")

print("We are using metric: " + evaluator.getMetricName())

In [33]:
lr = LogisticRegression(featuresCol = 'features', labelCol = 'label', maxIter=10)
lrModel = lr.fit(trainingData)
trainingSummary = lrModel.summary
metrics(trainingSummary)

In [34]:
predictions_lr = lrModel.transform(validationData)
predictions_lr.select('rawPrediction', 'prediction', 'probability').show(10)

In [35]:
print('Test Area Under ROC','%.4f' %  evaluator.evaluate(predictions_lr))

### We are going to try to improve our model:
1. Using a `weight column` in our Logistic Regression Model (Take into account we are working with a unbalanced dataset)
2. Define a `ParamGridBuilder` with `regParam`, `elasticNetParam` and `maxIter` at least
3. Define an `BinaryClassificationEvaluator`
4. Using Cross Validation with a 5-fold `CrossValidator`

Questions to answer:
1. Have we improved the ROC-AUC?
2. Which are the average ROC-AUC measurements in the different cross validation runs?
3. Which are the parameters of the best model in the 5 k-fold runs?
4. Which are the metrics of the best model (training) in the 5 k-fold runs? (Use the function above)
5. Which is the ROC-AUC on validation dataset?

In [36]:
evaluator = BinaryClassificationEvaluator() \
                .setLabelCol("label") \
                .setRawPredictionCol("rawPrediction")

print("We are using metric: " + evaluator.getMetricName())

By setting the **paramGrid_lr** variable we define the set of different parameters we would like to test in order to tune our algorithm.

In [37]:
paramGrid_lr = ParamGridBuilder() \
                .addGrid(lr.regParam, [0.1, 0.5, 2.0, 5.0, 7.5, 10.0]) \
                .addGrid(lr.elasticNetParam, [0.0, 0.25, 0.5, 0.75, 1.0])\
                .addGrid(lr.maxIter, [1, 5, 10, 15, 25])\
                .build()

print("Param Grid: " + str(paramGrid_lr))


cv = CrossValidator(estimator=lr, estimatorParamMaps=paramGrid_lr, evaluator=evaluator, numFolds=5)
cv_Model = cv.fit(trainingData)
predictions_cv = cv_Model.transform(validationData)

At this point we apply a **Cross Validation** strategy.

In [38]:
# Before we had 0.6822 and now
print("AUC: " + str('%.2f' % evaluator.evaluate(predictions_cv)))

# Means of model accuracy
my_formatted_list_0 = [ '%.4f' % elem for elem in cv_Model.avgMetrics]
print("Means of metrics: " + str(my_formatted_list_0))

## Random Forest Model
1. Define a `ParamGridBuilder` with `maxDepth`, `numTrees` and `maxIter` at least
2. Define an `BinaryClassificationEvaluator` (You can use the above one)
3. Using Cross Validation with a 5-fold `CrossValidator`

Questions to answer:

1. Have we improved the ROC-AUC?
2. Which are the average ROC-AUC measurements in the different cross validation runs?
3. Which are the parameters of the best model in the 5 k-fold runs?
4. Which is the importance of the features?
5. Print full description of model.
6. Which is the ROC-AUC on validation dataset?

In [39]:
rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'label')

rfModel = rf.fit(trainingData)

predictions = rfModel.transform(validationData)

predictions.select('rawPrediction', 'prediction', 'probability').show(10)

In [40]:
print('Test Area Under ROC','%.4f' %  evaluator.evaluate(predictions))

By setting the **paramGrid_rf** variable we define the set of different parameters we would like to test in order to tune our algorithm.

In [41]:
paramGrid_rf = ParamGridBuilder() \
                .addGrid(rf.maxDepth, [10, 20, 30]) \
                .addGrid(rf.numTrees, [10, 20, 30]) \
                .build()

print("Param Grid: " + str(paramGrid_rf))


cv_rf = CrossValidator(estimator=rf, estimatorParamMaps=paramGrid_rf, evaluator=evaluator, numFolds=5)
cv_Model_rf = cv_rf.fit(trainingData)
predictions_cv_rf = cv_Model_rf.transform(validationData)

At this point we apply a **Cross Validation** strategy.

In [42]:
# Before we had 0.6822 and now
print("AUC: " + str('%.2f' % evaluator.evaluate(predictions_cv_rf)))

# Means of model accuracy
my_formatted_list_1 = [ '%.4f' % elem for elem in cv_Model_rf.avgMetrics]
print("Means of metrics: " + str(my_formatted_list_1))

In [43]:
#Best LR Model
best_rf = cv_Model_rf.bestModel
best_rf

##  Gradient Boosting Model
1. Defining a `ParamGridBuilder` with `maxDepth`, `numTrees` and `maxIter` at least (You can use the above one)
2. Define an `BinaryClassificationEvaluator` (You can use the above one)
3. Using Cross Validation with a 5-fold `CrossValidator`

Questions to answer:

1. Have we improved the ROC-AUC?
2. Which are the average ROC-AUC measurements in the different cross validation runs?
3. Which are the parameters of the best model in the 5 k-fold runs?
4. Which is the importance of the features?
5. Print full description of model.
6. Which is the ROC-AUC on validation dataset?

In [44]:
gbt = GBTClassifier(maxIter=10)

gbtModel = gbt.fit(trainingData)

predictions_gbt = gbtModel.transform(validationData)

predictions_gbt.select('rawPrediction', 'prediction', 'probability').show(10)

In [45]:
print('Test Area Under ROC','%.4f' %  evaluator.evaluate(predictions_gbt))

By setting the **paramGrid_gbt** variable we define the set of different parameters we would like to test in order to tune our algorithm.

In [46]:
paramGrid_gbt = ParamGridBuilder() \
                    .addGrid(GBTClassifier.maxDepth, [2,5])\
                    .addGrid(GBTClassifier.maxIter, [10,20])\
                    .build()

print("Param Grid: " + str(paramGrid_gbt))


cv_gbt = CrossValidator(estimator = gbt, estimatorParamMaps = paramGrid_gbt, evaluator = evaluator, numFolds=5)
cv_Model_gbt = cv_gbt.fit(trainingData)
predictions_cv_gbt = cv_Model_gbt.transform(validationData)

At this point we apply a **Cross Validation** strategy.

In [47]:
# Before we had 0.6822 and now
print("AUC: " + str('%.2f' % evaluator.evaluate(predictions_cv_gbt)))

# Means of model accuracy
my_formatted_list_2 = [ '%.4f' % elem for elem in cv_Model_gbt.avgMetrics]
print("Means of metrics: " + str(my_formatted_list_2))

In [48]:
# Best GBT Model
best_gbt_model = cv_Model_gbt.bestModel
best_gbt_model

## Apply your best model to send the predictions on test

In [49]:
testDF2 = pipelineModel.transform(testDF)
selectedCols = testDF2.columns
testDF2 = testDF2.select(selectedCols)

In [50]:
gbt = GBTClassifier(maxIter=10)

gbtModel_final = gbt.fit(loanDF)

predictions_final = gbtModel_final.transform(testDF2)

In [58]:
predictions_final.select('id', 'prediction').toPandas().to_csv('./data/submission_final.csv', index=False)

In [54]:
# MySparkContext.stop()